matplotlib==3.5.3
numba==0.55.2
numpy==1.22.4
pandas==1.4.3
scikit_learn==1.2.2
tensorflow==2.9.1
tensorflow_addons==0.20.0
tqdm==4.64.0

ipykernel
ipython
ipympl
ipython-genutils
ipywidgets
Markdown

jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets

tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1